@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@theme {
  --color-main-color: #092346;
  --color-secondary-color: #2b1f51;
  --color-section-color: #fcfcfc;
}

@layer base {
  .animate-float {
    animation: float 2s ease-in-out infinite;
  }

  .nav-container {
    @apply mx-auto px-4 md:px-6 lg:px-12 xl:px-16;
  }

  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-32;
  }
}
